<%- include('./layout/head')%>
<%- include('./layout/navigation')%>


<div class="bg-white">
    <div class="container mx-auto pt-28 pb-5">
        <div class="max-w-4xl mx-auto">
            <div class="pb-10">
                <h1 class="font-sans-serif text-4xl tracking-wider pb-5">About Apindal School..</h1>
                <h1 class="font-sans text-lg tracking-wide">School headmaster: Mr Dr Thomas Whitley</h1>
                <h1 class="font-sans text-lg tracking-wide">Address: 434 Drive Cape Town</h1>
                <h1 class="font-sans text-lg tracking-wide">Website: www.apindaleschool.com</h1>
            </div>
        </div>
    </div>
</div>

<div class="bg-white">
    <div class="container mx-auto py-5">
        <div class="max-w-4xl mx-auto">
            <img src="images/about.jpg" alt="" class="mx-auto " style="height: 90vh; width: 100%">
        </div>
    </div>
</div>


<div class="bg-white">
    <div class="container mx-auto py-5">
        <div class="max-w-4xl mx-auto">
            <div class="py-20">
                <div class="py-3">
                    <div class="grid grid-cols-2">
                        <div class="font-sans text-lg">Number of students</div>
                        <h1 class="font-sans text-lg">200</h1>
                    </div>
                </div>
                <div class="py-3">
                    <div class="grid grid-cols-2">
                        <div class="font-sans text-lg">Number of girls</div>
                        <h1 class="font-sans text-lg">90</h1>
                    </div>
                </div>
                <div class="py-3">
                    <div class="grid grid-cols-2">
                        <div class="font-sans text-lg">Number of boys</div>
                        <h1 class="font-sans text-lg">120</h1>
                    </div>
                </div>
                <div class="py-3">
                    <div class="grid grid-cols-2">
                        <div class="font-sans text-lg">Number of Teachers</div>
                        <h1 class="font-sans text-lg">10</h1>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>




<div class="bg-white">
    <div class="border-2 border-black">
        <iframe class="w-full" src="https://www.google.com/maps/embed?pb=!1m14!1m12!1m3!1d914933.6372955391!2d28.040918386859698!3d-26.39249538936141!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!5e0!3m2!1sen!2sza!4v1629712485828!5m2!1sen!2sza" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
    </div>
</div>

<%- include('./layout/footer')%>