<%- include('./layout/head')%>
<%- include('./layout/navigation')%>

<!-- social media -->
<div class="bg-white">
    <div class="container mx-auto py-28">
        <div class="max-w-xl mx-auto">
            <h1 class="font-sans-serif text-4xl tracking-wider pb-20 text-center">Contact us using the following details..</h1>
            <div class="pb-3">
                <div class="grid grid-cols-2 items-center">
                    <div class="flex items-center">
                        <img src="" alt="">
                        <h1 class="font-sans text-lg">Facebook</h1>
                    </div>
                    <h1 class="font-sans text-lg">Apindale Pre School</h1>
                </div>
            </div>
            <div class="pb-3">
                <div class="grid grid-cols-2 items-center">
                    <div class="flex items-center">
                        <img src="" alt="">
                        <h1 class="font-sans text-lg">Twitter</h1>
                    </div>
                    <h1 class="font-sans text-lg">@ApindalePreSchool50</h1>
                </div>
            </div>
            <div class="pb-3">
                <div class="grid grid-cols-2 items-center">
                    <div class="flex items-center">
                        <img src="" alt="">
                        <h1 class="font-sans text-lg">Email</h1>
                    </div>
                    <h1 class="font-sans text-lg">ApindalSchool@gmail.com</h1>
                </div>
            </div>
        </div>
    </div>
</div>


<!-- form -->
<div class="bg-gray-900">
    <div class="container mx-auto py-28">
        <div class="max-w-xl mx-auto">
            <form action="">
                <div class="py-2 flex flex-col">
                    <label class="font-sans text-lg text-white capitalize">Name</label>
                    <input type="text" class="font-sans text-black text-lg outline-none py-2 px-4">
                </div>
                <div class="py-2 flex flex-col">
                    <label class="font-sans text-lg text-white capitalize">Email</label>
                    <input type="email" class="font-sans text-black text-lg outline-none py-2 px-4">
                </div>
                <div class="py-2 flex flex-col mb-3">
                    <label class="font-sans text-lg text-white capitalize">Message</label>
                    <textarea name="" class="font-sans text-black text-lg outline-none py-2 px-4" id="" cols="30" rows="6"></textarea>
                </div>
                <button class="font-sans text-lg bg-yellow-500 py-4 px-10 outline-none">Submit</button>
            </form>
        </div>
    </div>
</div>



<!-- map -->




<!-- footer -->
<%- include('./layout/footer')%>