<%- include('./layout/head')%>
<%- include('./layout/navigation')%>

<div class="bg-white pb-10">
    <div class="container mx-auto pt-28 pb-5">
        <div class="max-w-4xl mx-auto">
            <h1 class="font-sans-serif text-4xl tracking-wider pb-10">Gallery</h1>
            <div class="grid grid-cols-3 gap-4">
                <img src="images/gallery/1.jpg" alt="" class="w-full h-48">
                <img src="images/gallery/b.jpg" alt="" class="w-full h-48">
                <img src="images/gallery/c.jpg" alt="" class="w-full h-48">
                <img src="images/gallery/d.jpg" alt="" class="w-full h-48">
                <img src="images/gallery/e.jpg" alt="" class="w-full h-48">
                <img src="images/gallery/f.jpg" alt="" class="w-full h-48">
                <img src="images/gallery/g.jpg" alt="" class="w-full h-48">
                <img src="images/gallery/h.jpg" alt="" class="w-full h-48">
                <img src="images/gallery/q.jpg" alt="" class="w-full h-48">
            </div>
        </div>
    </div>
</div>

<%- include('./layout/footer')%>