<%- include('./layout/head')%>
<%- include('./layout/navigation')%>


<!-- showcasing in here -->
<div class="flex flex-col justify-center" style="height: 80vh; background: url('/images/one.jpg'); background-position: top; background-size: cover;">
    <div class="container mx-auto text-center">
        <h1 class="font-sans-serif text-5xl tracking-wider text-white pb-6">Apindale kids_School @org</h1>
        <div class="max-w-lg mx-auto pb-7">
            <p class="text-white">ur adipisicing elit. Amet facilis inventore blanditiis repudiandae corporis atque adipisci similique ea!</p>
        </div>
        <div class="flex mx-auto justify-center gap-8">
            <a href="#" class="font-sans-serif text-lg tracking-wider py-3 px-10 outline-none bg-yellow-300 transition ease-in-out duration-140 hover:bg-yellow-400">who_we_are</a>
            <a href="#" class="font-sans-serif text-lg tracking-wider py-3 px-10 outline-none bg-yellow-300 transition ease-in-out duration-140 hover:bg-yellow-400">about_us</a>
        </div>
    </div>
</div>


<!-- welcome in here -->
<div class="bg-white">
    <div class="container mx-auto py-28">
        <div class="max-w-lg mx-auto text-center">
            <h1 class="font-sans-serif text-4xl tracking-wider pb-5">welcome</h1>
            <p class="font-sans text-lg text-gray-700 leading-9">Lsectetur adipisicinsum dolor sit amet consectetur, adipisicing elit. Facere, facilis!. Consectetur vel suscipit sed beatae omnis enim officia, itaque libero ipsa quidem.</p>
        </div>
    </div>
</div>

<!-- why us in here -->
<div class="bg-gray-200">
    <div class="container mx-auto py-28">
        <div class="max-w-4xl mx-auto">
            <h1 class="font-sans-serif text-4xl tracking-wider pb-20 text-center">Why us?</h1>
            <div class="flex justify-around items-center gap-8">
                <div class="flex flex-col text-center justify-center">
                    <img src="images/c.png" alt="" class="h-28 w-28 mx-auto pb-3">
                    <h2 class="font-sans text-xl pb-3">Innovation</h2>
                    <p class="font-sans-serif  text-lg leading-7">
                        Lorem ipsum dolor sit amet consectetur, adipisicing elit. Praesentium minima voluptas ea architecto odio?
                    </p>
                </div>
                <div class="flex flex-col text-center justify-center">
                    <img src="images/b.png" alt="" class="h-28 w-28 mx-auto pb-3">
                    <h2 class="font-sans text-xl pb-3">Caring</h2>
                    <p class="font-sans-serif  text-lg leading-7">
                        Lorem ipsum dolor sit amet consectetur, adipisicing elit. Praesentium minima voluptas ea architecto odio?
                    </p>
                </div>
                <div class="flex flex-col text-center justify-center">
                    <img src="images/a.png" alt="" class="h-28 w-28 mx-auto pb-3">
                    <h2 class="font-sans text-xl pb-3">Teaching</h2>
                    <p class="font-sans-serif  text-lg leading-7">
                        Lorem ipsum dolor sit amet consectetur, adipisicing elit. Praesentium minima voluptas ea architecto odio?
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>


<!-- hard coded for now but will pull it from db -->
<!-- school stuff -->
<div class="bg-gray-700">
    <div class="container mx-auto py-28 px-4">
        <div class="max-w-5xl mx-auto">
            <h1 class="font-sans-serif text-4xl tracking-wider pb-20 text-center text-white">School Stuff</h1>
            <div class="grid items-center grid-cols-4 gap-8">
                <div class="flex flex-col justify-center">
                    <img src="images/stuff/head.jpg" alt="" class="h-64 w-64">
                    <div class="pt-3 pb-5 text-center">
                        <h1 class="font-sans-serif text-xl pb-4 tracking-wide text-white">Pos: Headmaster</h1>
                        <h1 class="font-sans text-lg text-yellow-500 tracking-wide">Dr Thomas Whitley</h1>
                        <p class="font-sans-serif text-lg text-yellow-500 tracking-wide">thomasw@gmail.com</p>
                    </div>
                </div>
                <div class="flex flex-col justify-center">
                    <img src="images/stuff/three.jpg" alt="" class="h-64 w-64">
                    <div class="pt-3 pb-5 text-center">
                        <h1 class="font-sans-serif text-xl pb-4 tracking-wide text-white">Pos: Teacher</h1>
                        <h1 class="font-sans text-lg text-yellow-500 tracking-wide">Lissa Marie</h1>
                        <p class="font-sans-serif text-lg text-yellow-500 tracking-wide">lissa@gmail.com</p>
                    </div>
                </div>
                <div class="flex flex-col justify-center">
                    <img src="images/stuff/four.jpg" alt="" class="h-64 w-64">
                    <div class="pt-3 pb-5 text-center">
                        <h1 class="font-sans-serif text-xl pb-4 tracking-wide text-white">Pos: Teacher</h1>
                        <h1 class="font-sans text-lg text-yellow-500 tracking-wide">Mr Marven Chung</h1>
                        <p class="font-sans-serif text-lg text-yellow-500 tracking-wide">Chungchucg@gmail.com</p>
                    </div>
                </div>
                <div class="flex flex-col justify-center">
                    <img src="images/stuff/two.jpg" alt="" class="h-64 w-64">
                    <div class="pt-3 pb-5 text-center">
                        <h1 class="font-sans-serif text-xl pb-4 tracking-wide text-white">Pos: Teacher</h1>
                        <h1 class="font-sans text-lg text-yellow-500 tracking-wide">Dr Tapiwa Gore</h1>
                        <p class="font-sans-serif text-lg text-yellow-500 tracking-wide">gorerino@gmail.com</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>



<!-- location/map -->


<!-- footer in here -->
<%- include('./layout/footer')%>