<footer>
    <div class="bg-black">
        <div class="container mx-auto py-20">
            <div class="max-w-4xl mx-auto">
                <h1 class="font-sans text-4xl text-center text-yellow-400 font-bold py-5">Apindale kids_School @org</h1>
                <h1 class="font-sans text-xl text-center text-yellow-200">@2021</h1>
            </div>    
</footer>