<div class="py-6">
    <div class="container mx-auto flex justify-around items-center">
        <h1 class="font-sans-serif  tracking-wider flex items-center border-2 border-gray-400 py-2 px-3">
            <span class="text-4xl font-bold">Apindale</span>
            <span class="flex flex-col ml-3 text-1xl">
                <span>Kinter</span>
                <span>Kanten school</span>
            </span>

        </h1>
        <!-- <div><img src="" alt=""></div> -->
        <ul class="flex">
            <ul class="font-sans-serif text-lg text-black mr-8">
                <a href="/">Homepage</a>
            </ul>
            <ul class="font-sans-serif text-lg text-black mr-8">
                <a href="/gallery">Gallery</a>
            </ul>
            <ul class="font-sans-serif text-lg text-black mr-8">
                <a href="/contact">Contact</a>
            </ul>
            <ul class="font-sans-serif text-lg text-black mr-12">
                <a href="/about">About_us</a>
            </ul>
            <ul class="font-sans-serif text-lg text-green-800 mr-0">
                <a href="/auth">Login</a>
            </ul>
        </ul>
    </div>
</div>